# Environment variables - NEVER commit this!
.env

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
lianes-lib-env/
venv/
.venv/
